### Ex1: Đọc và hiển thị tập tin XML

In [1]:
# Down load noi dung xml tu link http://www.w3schools.com/xml/plant_catalog.xml
url <- 'http://www.w3schools.com/xml/plant_catalog.xml'
download.file(url, destfile = 'plan_catalog.xml')

In [2]:
library("XML")

Warning message:
"package 'XML' was built under R version 3.6.2"

In [3]:
#Doc noi dung tap tin va chuyen thanh dataframe
plan_catalog <- xmlToDataFrame('plan_catalog.xml')
head(plan_catalog)

  COMMON              BOTANICAL              ZONE LIGHT        PRICE
1 Bloodroot           Sanguinaria canadensis 4    Mostly Shady $2.44
2 Columbine           Aquilegia canadensis   3    Mostly Shady $9.37
3 Marsh Marigold      Caltha palustris       4    Mostly Sunny $6.81
4 Cowslip             Caltha palustris       4    Mostly Shady $9.90
5 Dutchman's-Breeches Dicentra cucullaria    3    Mostly Shady $6.44
6 Ginger, Wild        Asarum canadense       3    Mostly Shady $9.03
  AVAILABILITY
1 031599
2 030699
3 051799
4 030699
5 012099
6 041899

In [9]:
#Liet ke nhung cay trong quanh nam (Annual) va co nang (Sunny)
plan_annual_sunny <- subset(plan_catalog, plan_catalog$ZONE == "Annual" & plan_catalog$LIGHT =="Sunny")
head(plan_annual_sunny)

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

### Ex2: Ghi nội dung vào file XML

In [13]:
#Su dung du lieu mtcars
# Tao file XML
doc = newXMLDoc()
top = newXMLNode("cars", doc = doc)
for (row in 1: nrow(mtcars)) {
    cdnode = newXMLNode("CD", parent = top)
    newXMLNode("names", mtcars[row, "names"], parent = cdnode)
    newXMLNode("mpg", mtcars[row, "mpg"], parent = cdnode)
    newXMLNode("wt", mtcars[row, "wt"], parent = cdnode)
    newXMLNode("gear", mtcars[row, "gear"], parent = cdnode)
}

In [15]:
#Ghi tai lieu vao mtcars.xml
cat(saveXML(doc, indent = TRUE, 
            prefix = "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n"),
            file = "mtcars.xml")

In [16]:
mtcars_new <- xmlToDataFrame("mtcars.xml")
head(mtcars_new)

  names             mpg  wt    gear
1 Mazda RX4         21   2.62  4
2 Mazda RX4 Wag     21   2.875 4
3 Datsun 710        22.8 2.32  4
4 Hornet 4 Drive    21.4 3.215 3
5 Hornet Sportabout 18.7 3.44  3
6 Valiant           18.1 3.46  3

### Ex3: Đọc, xử lý và ghi nội dung JSON

In [17]:
library('jsonlite')

In [19]:
#Doc tap tin orange.json
orange <- fromJSON('Chapter 10\\Du_lieu\\orange.json')
orange

$Tree
 [1] "1" "1" "1" "1" "1" "1" "1" "2" "2" "2" "2" "2" "2" "2" "3" "3" "3" "3" "3"
[20] "3" "3" "4" "4" "4" "4" "4" "4" "4" "5" "5" "5" "5" "5" "5" "5"

$age
 [1]  118  484  664 1004 1231 1372 1582  118  484  664 1004 1231 1372 1582  118
[16]  484  664 1004 1231 1372 1582  118  484  664 1004 1231 1372 1582  118  484
[31]  664 1004 1231 1372 1582

$circumference
 [1]  30  58  87 115 120 142 145  33  69 111 156 172 203 203  30  51  75 108 115
[20] 139 140  32  62 112 167 179 209 214  30  49  81 125 142 174 177

In [20]:
#Dua vao dataframe
orange_df <- as.data.frame(orange)
head(orange_df)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [34]:
#Cay cam co tuoi tho cao nhat
print("Cay cam co tuoi tho cao nhat: ")
orange_df[which.max(orange_df$age),]

[1] "Cay cam co tuoi tho cao nhat: "

  Tree age  circumference
7 1    1582 145

In [35]:
#Cay cam co tuoi tho thap nhat
print("Cay cam co tuoi tho thap nhat: ")
orange_df[which.min(orange_df$age),]

[1] "Cay cam co tuoi tho thap nhat: "

  Tree age circumference
1 1    118 30

In [24]:
# Cho biet cay cam co Circumference > 100 va age > 1000. Co tat cac bao nhieu cay cam
tree_100_1000 <- subset(orange_df, orange_df$age > 1000 & orange_df$circumference > 100)

In [27]:
print(paste(" So cay cam co circumference > 100 & age > 1000 la ", dim(tree_100_1000)[1]))

[1] " So cay cam co circumference > 100 & age > 1000 la  20"

In [28]:
print("Danh sach cac cay cam co circumference > 100 & age > 1000 :")
print(tree_100_1000)

[1] "Danh sach cac cay cam co circumference > 100 & age > 1000 :"
   Tree  age circumference
4     1 1004           115
5     1 1231           120
6     1 1372           142
7     1 1582           145
11    2 1004           156
12    2 1231           172
13    2 1372           203
14    2 1582           203
18    3 1004           108
19    3 1231           115
20    3 1372           139
21    3 1582           140
25    4 1004           167
26    4 1231           179
27    4 1372           209
28    4 1582           214
32    5 1004           125
33    5 1231           142
34    5 1372           174
35    5 1582           177

In [29]:
# Chuyen du lieu thanh json
tree_100_1000_json <- toJSON(tree_100_1000)

In [30]:
#Ghi vao tap tin json
#save file
write(tree_100_1000_json, file = "orange_new.json")

In [31]:
#Doc noi dung vua ghi de kiem tra ket qua
orange_new <- fromJSON("orange_new.json")
orange_new

   Tree age  circumference
1  1    1004 115
2  1    1231 120
3  1    1372 142
4  1    1582 145
5  2    1004 156
6  2    1231 172
7  2    1372 203
8  2    1582 203
9  3    1004 108
10 3    1231 115
11 3    1372 139
12 3    1582 140
13 4    1004 167
14 4    1231 179
15 4    1372 209
16 4    1582 214
17 5    1004 125
18 5    1231 142
19 5    1372 174
20 5    1582 177

### Ex4: Đọc nội dung từ URL và ghi nội dung JSON

In [37]:
library("httr")

Warning message:
"package 'httr' was built under R version 3.6.3"

In [40]:
#Cho url http://phuong13021982.pythonanywhere.com/mystore/product_service/, doc noi dung tu URL
url <- 'http://phuong13021982.pythonanywhere.com/mystore/product_service/'
get_url <- GET(url)
content <- rawToChar(get_url$content)
json <- fromJSON(content)
tivis <- data.frame(json)

In [46]:
head(tivis)
print(class(tivis))

  pk name                     fee      image
1  2 Asanzo 50 inch            9000000 images/asanzo_4k_50_11690000.jpg
2 11 Dell Vostro V3568 XF6C61 11999000 images/Dell_vostro.jpg
3 12 Macbook Air 2017 MQD32   18990000 images/MacbooAir.jpg
4  3 Panasonic 40 inch         6590000 images/panansonic_40_6590000.jpg
5  5 Samsung 32 inch           5999000 images/samsung_32_5990000.jpg
6  9 Samsung Galaxy J2 Prime   2690000 images/SamsungPrime.jpg

[1] "data.frame"

In [42]:
#bo cot description
tivis$description <- NULL
head(tivis)

  pk name                     fee      image
1  2 Asanzo 50 inch            9000000 images/asanzo_4k_50_11690000.jpg
2 11 Dell Vostro V3568 XF6C61 11999000 images/Dell_vostro.jpg
3 12 Macbook Air 2017 MQD32   18990000 images/MacbooAir.jpg
4  3 Panasonic 40 inch         6590000 images/panansonic_40_6590000.jpg
5  5 Samsung 32 inch           5999000 images/samsung_32_5990000.jpg
6  9 Samsung Galaxy J2 Prime   2690000 images/SamsungPrime.jpg

In [43]:
#Chuyen tivis thanh json
tivis_json <- toJSON(tivis)

In [44]:
#ghi ra tap tin json
write(tivis_json, file = 'tivis_json.json')

In [45]:
#Doc noi dung tu tap tin json vua ghi
tivis_json_new <- fromJSON("tivis_json.json")
tivis_json_new

   pk name                     fee      image
1   2 Asanzo 50 inch            9000000 images/asanzo_4k_50_11690000.jpg
2  11 Dell Vostro V3568 XF6C61 11999000 images/Dell_vostro.jpg
3  12 Macbook Air 2017 MQD32   18990000 images/MacbooAir.jpg
4   3 Panasonic 40 inch         6590000 images/panansonic_40_6590000.jpg
5   5 Samsung 32 inch           5999000 images/samsung_32_5990000.jpg
6   9 Samsung Galaxy J2 Prime   2690000 images/SamsungPrime.jpg
7   6 Sharp 45 inch             7490000 images/sharp_45_7490000.jpg
8   7 Sony 48 inch             11599000 images/sony_48_11599000.png
9   4 Sony 55 inch             20590000 images/sony_55_20590000.jpg
10  8 TCL 55 inch               9900000 images/tcl_55_9900000.jpg
11  1 Toshiba 32 inch           4590000 images/toshiba32_4590000.jpg
12 10 iPad WiFi 32GB New 2018   8390000 images/iPad_Samsung_Wifi.jpg