### Ex1: Đọc tập tin và xử lý

In [1]:
#Doc tap tin SampleTextFile_10kb.txt
sample_text <- readLines('Data_buoi_4\\Du_lieu\\SampleTextFile_10kb.txt')

In [2]:
#In ra noi dung cua phan tu dau tien trong tap tin
sample_text[1]

[1] "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum sagittis lacus, laoreet luctus ligula laoreet ut. Vestibulum ullamcorper accumsan velit vel vehicula. Proin tempor lacus arcu. Nunc at elit condimentum, semper nisi et, condimentum mi. In venenatis blandit nibh at sollicitudin. Vestibulum dapibus mauris at orci maximus pellentesque. Nullam id elementum ipsum. Suspendisse cursus lobortis viverra. Proin et erat at mauris tincidunt porttitor vitae ac dui."

In [3]:
#in so phan tu cua tap tin
print(paste("So phan tu cua tap tin:",length(sample_text)))

[1] "So phan tu cua tap tin: 27"

In [4]:
#Moi phan tu co bao nhieu ki tu
i<-1
while (i<= length(sample_text)){
    print(paste("So ki tu trong phan tu thu ",i, ":",nchar(sample_text[i])))
    i<- i+1
}

[1] "So ki tu trong phan tu thu  1 : 482"
[1] "So ki tu trong phan tu thu  2 : 0"
[1] "So ki tu trong phan tu thu  3 : 931"
[1] "So ki tu trong phan tu thu  4 : 0"
[1] "So ki tu trong phan tu thu  5 : 878"
[1] "So ki tu trong phan tu thu  6 : 0"
[1] "So ki tu trong phan tu thu  7 : 601"
[1] "So ki tu trong phan tu thu  8 : 0"
[1] "So ki tu trong phan tu thu  9 : 645"
[1] "So ki tu trong phan tu thu  10 : 0"
[1] "So ki tu trong phan tu thu  11 : 730"
[1] "So ki tu trong phan tu thu  12 : 0"
[1] "So ki tu trong phan tu thu  13 : 437"
[1] "So ki tu trong phan tu thu  14 : 0"
[1] "So ki tu trong phan tu thu  15 : 434"
[1] "So ki tu trong phan tu thu  16 : 0"
[1] "So ki tu trong phan tu thu  17 : 944"
[1] "So ki tu trong phan tu thu  18 : 0"
[1] "So ki tu trong phan tu thu  19 : 629"
[1] "So ki tu trong phan tu thu  20 : 0"
[1] "So ki tu trong phan tu thu  21 : 772"
[1] "So ki tu trong phan tu thu  22 : 0"
[1] "So ki tu trong phan tu thu  23 : 615"
[1] "So ki tu trong phan tu thu  24 : 0"
[1] "So ki tu trong phan tu thu  25 : 449"
[1] "So ki tu trong phan tu thu  26 : 0"
[1] "So ki tu trong phan tu thu  27 : 909"

### Ex2: Đọc tập tin, xử lý, ghi nội dung vào tập tin

In [1]:
#Doc tap tin cau truc dang bang Table0.txt
df <- read.table("Data_buoi_4\\Du_lieu\\Table0.txt")
print(df)

        V1 V2  V3 V4 V5
1     Alex 25 177 57  F
2    Lilly 31 163 69  F
3     Mark 23 190 83  M
4   Oliver 52 179 75  M
5   Martha 76 163 70  F
6    Lucas 49 183 83  M
7 Caroline 26 164 53  F

In [6]:
colnames(df) = c('Name','Age','Height','Weight','Sex')
row.names(df) = df$Name

In [7]:
df

         Name     Age Height Weight Sex
Alex     Alex     25  177    57     F
Lilly    Lilly    31  163    69     F
Mark     Mark     23  190    83     M
Oliver   Oliver   52  179    75     M
Martha   Martha   76  163    70     F
Lucas    Lucas    49  183    83     M
Caroline Caroline 26  164    53     F

In [9]:
#xoa cot Name thua
df$Name <- NULL
print(df)

         Age Height Weight Sex
Alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F

In [10]:
#Ghi noi dung vao tap tin Table0_new.txt
write.table(df, file = 'D:/Data Science/LDS7 R Programming/Data_buoi_4/Du_lieu/Table0_new.txt', sep = '\t')

### Ex3: Đọc, ghi tập tin txt

In [13]:
#Cung cap tap tin Table5.txt
df <- read.table('Data_buoi_4\\Du_lieu\\Table6.txt', skip = 1, header = TRUE, stringsAsFactors = FALSE, comment.char = "@")
print(head(df))

    Name Age Height Weight Sex
1   Alex  25    177     57   F
2  Lilly  31    163     69   F
3   Mark  23    190     83   M
4 Oliver  52    179     75   M
5 Martha  76    163     70   F
6  Lucas  49    183     83   M

In [14]:
#Kiem tra co du lieu trung khong, neu co thi xoa cac dong trung
nrow_bf <- nrow(df)
nrow_bf

[1] 105

In [16]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
v ggplot2 3.3.0     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.5
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'readr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"Warning message:
"package 'stringr' was built under R version 3.6.3"Warning message:
"package 'forcats' was built under R version 3.6.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [19]:
df <- unique(df)
nrow_af <- nrow(df)
nrow_af

[1] 7

In [21]:
print("Data after dropping duplicate:")
print(df)

[1] "Data after dropping duplicate:"
      Name Age Height Weight Sex
1     Alex  25    177     57   F
2    Lilly  31    163     69   F
3     Mark  23    190     83   M
4   Oliver  52    179     75   M
5   Martha  76    163     70   F
6    Lucas  49    183     83   M
7 Caroline  26    164     53   F

In [22]:
#Dat rowname la cot Name. Xoa cot Name thua
row.names(df) = df$Name
df$Name <- NULL
print("Data after add rowname and remove Name column:")
print(df)

[1] "Data after add rowname and remove Name column:"
         Age Height Weight Sex
Alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F

In [23]:
#Ghi lai noi dung sau khi chuan hoa va Table6_new.txt
write.table(df, file = 'D:/Data Science/LDS7 R Programming/Data_buoi_4/Du_lieu/Table6_new.txt', sep = '\t')

In [24]:
#In noi dung trong file Table6_new.txt sau khi ghi ra file
df_new <- read.table('Data_buoi_4\\Du_lieu\\Table6_new.txt')
print(head(df_new))

       Age Height Weight Sex
Alex    25    177     57   F
Lilly   31    163     69   F
Mark    23    190     83   M
Oliver  52    179     75   M
Martha  76    163     70   F
Lucas   49    183     83   M

### Ex4: Đọc, xử lý, ghi tập tin csv

In [26]:
#Doc tap tin states2.csv vao df
df <- read.csv('Data_buoi_4\\Du_lieu\\states2.csv', row.names = 1, sep = ";", dec = ",")
print(head(df))

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [34]:
#Tao df1 tu df co income > 4500 va population > 10000
df1 <- subset(df, df$Income > 4500 & df$Population > 10000)
print("Df1 with Income > 4500 & Population > 10000 :")
print(head(df1))

[1] "Df1 with Income > 4500 & Population > 10000 :"
           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Illinois        11197   5107        0.9    70.14   10.3    52.6   127  55748
New York        18076   4903        1.4    70.55   10.9    52.7    82  47831
Ohio            10735   4561        0.8    70.82    7.4    53.2   124  40975

In [35]:
#Ghi df1 ra states_income.csv
write.csv(df1, file = 'D:/Data Science/LDS7 R Programming/Data_buoi_4/Du_lieu/states_income.csv')

In [37]:
#Doc va hien thi lai du lieu tap tin vua ghi
df_new <- read.csv('Data_buoi_4\\Du_lieu\\states_income.csv', row.names = 1)
print(head(df_new))

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Illinois        11197   5107        0.9    70.14   10.3    52.6   127  55748
New York        18076   4903        1.4    70.55   10.9    52.7    82  47831
Ohio            10735   4561        0.8    70.82    7.4    53.2   124  40975

### Ex5: Đọc tập tin csv, xử lý, lưu vào tập tin xlsx

In [40]:
#Cung cap tap tin medals.csv
data <- read.csv('Data_buoi_4\\Du_lieu\\medals.csv')
print(head(data))

  Year     City      Sport     Discipline NOC           Event Event.gender
1 1924 Chamonix    Skating Figure skating AUT      individual            M
2 1924 Chamonix    Skating Figure skating AUT      individual            W
3 1924 Chamonix    Skating Figure skating AUT           pairs            X
4 1924 Chamonix  Bobsleigh      Bobsleigh BEL        four-man            M
5 1924 Chamonix Ice Hockey     Ice Hockey CAN      ice hockey            M
6 1924 Chamonix   Biathlon       Biathlon FIN military patrol            M
   Medal
1 Silver
2   Gold
3   Gold
4 Bronze
5   Gold
6 Silver

In [41]:
#Cho biet kieu du lieu cua data
print(paste("Kieu du lieu cua data:", class(data)))

[1] "Kieu du lieu cua data: data.frame"

In [44]:
#Cho biet so dong, so cot va ten cac cot cua data
print(paste("Data co:", nrow(data)," dong &",ncol(data),"cot"))
print(paste("Columns's name of data:", toString(colnames(data))))

[1] "data co: 2314  dong & 8 cot"
[1] "Columns's name of data: Year, City, Sport, Discipline, NOC, Event, Event.gender, Medal"

In [49]:
# Tao 1 bo du lieu data_1932_skiing voi year = 1932 & sport = Skiing
data_1932_skiing <- subset(data, data$Year == 1932 & data$Sport == 'Skiing')
print(head(data_1932_skiing))

    Year        City  Sport      Discipline NOC      Event Event.gender  Medal
100 1932 Lake Placid Skiing Cross Country S FIN       18km            M Bronze
101 1932 Lake Placid Skiing Cross Country S FIN       50km            M   Gold
102 1932 Lake Placid Skiing Cross Country S FIN       50km            M Silver
110 1932 Lake Placid Skiing Cross Country S NOR       50km            M Bronze
111 1932 Lake Placid Skiing Nordic Combined NOR individual            M Bronze
112 1932 Lake Placid Skiing Nordic Combined NOR individual            M   Gold

In [52]:
library("xlsx")

In [55]:
#Ghi data_1932_skiing ra Excel file, sheetname = 1932_skiing
write.xlsx(data_1932_skiing, file = "D:/Data Science/LDS7 R Programming/Data_buoi_4/Du_lieu/medals_new.xlsx", sheetName = "1932_skiing",append =  TRUE)

### Ex6: Đọc và xử lý tập tin xlsx

In [61]:
#Doc tap tin data_1932_skiing 
data <- read.xlsx('Data_buoi_4\\Du_lieu\\medals_new.xlsx', sheetName = "1932_skiing")
print(head(data))

  NA. Year        City  Sport      Discipline NOC      Event Event.gender
1 100 1932 Lake Placid Skiing Cross Country S FIN       18km            M
2 101 1932 Lake Placid Skiing Cross Country S FIN       50km            M
3 102 1932 Lake Placid Skiing Cross Country S FIN       50km            M
4 110 1932 Lake Placid Skiing Cross Country S NOR       50km            M
5 111 1932 Lake Placid Skiing Nordic Combined NOR individual            M
6 112 1932 Lake Placid Skiing Nordic Combined NOR individual            M
   Medal
1 Bronze
2   Gold
3 Silver
4 Bronze
5 Bronze
6   Gold

In [62]:
#Bo cot NA
data$NA. <- NULL
print(head(data))

  Year        City  Sport      Discipline NOC      Event Event.gender  Medal
1 1932 Lake Placid Skiing Cross Country S FIN       18km            M Bronze
2 1932 Lake Placid Skiing Cross Country S FIN       50km            M   Gold
3 1932 Lake Placid Skiing Cross Country S FIN       50km            M Silver
4 1932 Lake Placid Skiing Cross Country S NOR       50km            M Bronze
5 1932 Lake Placid Skiing Nordic Combined NOR individual            M Bronze
6 1932 Lake Placid Skiing Nordic Combined NOR individual            M   Gold

In [69]:
#Cho biet co bao nhieu huy chuong vang trong danh sach nay
print(paste("Number of Gold Medal:",sum(data$Medal == 'Gold')))

[1] "Number of Gold Medal: 4"

In [79]:
#Chi tiet ve cac huy chuong vang
print("Detail list of Gold Medal:")
subset(data, data$Medal == 'Gold')

[1] "Detail list of Gold Medal:"

   Year City        Sport  Discipline      NOC Event
2  1932 Lake Placid Skiing Cross Country S FIN 50km
6  1932 Lake Placid Skiing Nordic Combined NOR individual
9  1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
11 1932 Lake Placid Skiing Cross Country S SWE 18km
   Event.gender Medal
2  M            Gold
6  M            Gold
9  M            Gold
11 M            Gold